#app {
	width:800px;
	height:700px;
	font-size:16px;
	background: #9b9b9b;
	margin-left:50px;
		color: #294b93;

}
h1 {
    text-align: center;
}
header > div {
    display:inline-block;
    /* border:1px solid black; */
}
header >div> input{
    border-bottom:1px solid red;
}

ul {
    display: inline-block;
    /* height:100px; */
    overflow: auto;
}
input{
    background:transparent;
    border:none
}
li{
    background: #4c4c4c;
    color:white;
    padding: 10px 15px;
    border-radius: 28px;
}
li input{
    background:#656565;
}
.item div{
    display:inline-block;
}
#ProductCard{
    font-size:20px;
    margin-right:5px;
}
#ProductCard > * {
    margin-right:5px;
}
#ProductCard input{
    font-size:20px;
    padding-left:5px;
}
#ProductCard span input{
    width:45px;
}


/* @media screen and (device-width:360){} */
@media (max-width:360px){
	#app{
		width:100%;
		/* height:100%; */
		font-size:16px;
		background: #9b9b9b;
		margin-left:0px;
		color: #294b93;
	
    }
    header div{
        display:block;
    }
    li {
        display: grid;
    grid-template-columns: auto auto;
    }
    #ProductCard {
        display: grid;
        grid-template-rows: auto auto auto;
        /* align-self: start; */
        grid-gap: 5px;
    }
    input[id^=product]{
        margin-top: 5px;
    }
    #deleteBtn{
        margin-bottom: 5px;
    }


}